p {
  text-align: start;
  padding-left: 2%;
  font-size: 2rem;
}
.uploadDate {
  margin-top: 15%;
}
.uploadDate button {
  margin-right: 1150px;
}
input {
  width: 500px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}
.cards div {
  margin: 1%;
  width: 100%;
  height: 550px;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}
.cards img {
  width: 100%;
  height: 70%;
}
.cards button {
  height: auto;
  width: auto;
}
